<div class="container pt-3">
  <h3 class="pb-2">投稿編集ページ</h3>

  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @post do |f| %>
    <div class="form-group">
      <label>画像</label><br>
      <%= f.file_field :post_image, accept: "image/*" %>
    </div>

    <div class="form-group">
      <label>タイトル</label><br>
      <%= f.text_field :title, class:"form-control col-lg-6" %>
    </div>

    <div class="form-group">
      <label>説明</label><br>
      <%= f.text_area :body, class:"form-control col-lg-6", rows:"3" %>
    </div>
    <div>
      <%= f.submit '編集を保存', class:"btn btn-success col-lg-2 mt-2 mr-5" %>
      <%= link_to "投稿を削除する", post_path(@post.id), method: :delete, class:"btn btn-danger col-lg-2 mt-2 ml-5", "data-confirm" => "本当に削除しますか？" %>
    </div>
  <% end %>
</div>