<div class="container pt-3">
  <%= flash[:notice] %>

  <div class="row">
    <div class="col-lg-6">
      <h2>
        <i class="fa-solid fa-book-open"></i>
        投稿一覧ページ
      </h2>
    </div>

    <div class="col-lg-2 text-right">
      <p>
        <%= link_to new_post_path, class:"btn btn-outline-success btn-sm" do %>
          <i class="fa-solid fa-plus"></i>
          新規投稿
        <% end %>
      </p>
    </div>

    <div class="col-lg-4 text-right">
      <%= form_with url: posts_path, local: true, method: :get do |f| %>
        <%= f.text_field :word, placeholder:"タイトル名" %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>
  <div class="row">
  <% @posts.each do |post| %>
  <div class="col-lg-4 my-2">
    <div class="border rounded p-2 h-100">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.post_image, class:"w-100 pb-3" %>
      <% end %>
      <div class="row">
        <div class="col-lg-3">
          <%= image_tag post.user.get_image(47,47), class:"rounded-circle ml-2" %>
        </div>
        <div class="col-lg-9">
          <%= post.title %>
          <p>
            <i class="fa-solid fa-user"></i>
            <%= post.user.name %> |
            <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
            <%= post.likes.count %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div>