<div class="container pt-3">
  <h3 class="pb-2">新規投稿ページ</h3>

  <%= form_with model: @post do |f| %>
  <form>
    <div class="form-group">
      <label>画像</label><br>
      <%= f.file_field :post_image, accept: "image/*" %>
    </div>

    <div class="form-group">
      <label>タイトル</label><br>
      <%= f.text_field :title, class:"form-control col-lg-6" %>
    </div>

    <div class="form-group">
      <label>説明</label><br>
      <%= f.text_area :body, class:"form-control col-lg-6", rows:"3" %>
    </div>

    <%= f.submit '投稿', class:"btn btn-success col-lg-2 mt-2" %>
  </form>
  <% end %>
</div>