<h1>投稿詳細ページ</h1>

<%= image_tag @post.get_post_image(250,250) %>

<p>タイトル　<%= @post.title %></p>
<p>説明　<%= @post.body %></p>

<% if @post.liked_by?(current_user) %>
  <p>
    <%= link_to post_likes_path(@post.id), method: :delete do %>
      ♥<%= @post.likes.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_likes_path(@post.id), method: :post do %>
      ♡<%= @post.likes.count %> いいね
    <% end %>
  </p>
<% end %>

<%= form_with model:[@post, @comment], local: false do |f| %>
  <%= f.text_area :comment_content, rows:'2', placeholder: "コメントを記入", class:"form-control mt-3" %>
  <%= f.submit "送信", class: "btn btn-primary mt-3 mb-3" %>
<% end %>

<% @post_comments.each do |comment| %>
  <%= comment.comment_content %>
  <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-sm btn-danger" %>
<% end %>
<br>
<%= link_to "編集ページ", edit_post_path(@post.id) %>
