<div class="container mt-3">

  <%= flash[:notice] %>

  <h3 class="col">ユーザー一覧</h3>

  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th>ユーザーID</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <% @users.each do |user| %>
    <tbody>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td>
        <%= link_to admin_user_path(user.id), class:"border-bottom text-secondary" do %>
          <%= user.name %>
        <% end %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.user_status %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

