<div class="container pt-3">

  <h3 class="pb-2">
    <i class="fa-solid fa-user-plus"></i>
    新規ユーザー登録
  </h3>

  <%= flash[:notice] %>

  <%= form_with model: @user, url: registration_path(resource_name) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <div class="form-group">
      <label>名前</label><br />
      <%= f.text_field :name, class:"form-control col-lg-5" %>
    </div>

    <div class="form-group">
      <label>メールアドレス</label><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-lg-5" %>
    </div>

    <div class="form-group">
      <label>パスワード</label>
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control col-lg-5" %>
    </div>

    <div class="form-group">
      <label>パスワード（確認用）</label><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control col-lg-5" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class:"btn btn-success" %>
    </div>
  <% end %>

  <p class="pt-4">
    登録がお済みの方は
    <%= link_to "こちら", new_user_session_path %>
  </p>
</div>