<div class="container mt-3">
  <h3>ユーザーステータス変更画面</h3>
  <div class="row">
    <p class="col-lg-2"><strong>ID</strong></p>
    <p class="col-lg-10"><%= @user.id %></p>
  </div>
  <div class="row">
    <p class="col-lg-2"><strong>名前</strong></p>
    <p class="col-lg-10"><%= @user.name %></p>
  </div>

  <%= form_with model: @user, url: "/admin/users/#{@user.id}" do |f| %>
    <div class="form-group row">
      <div class="col-lg-2">
        <label><strong>会員ステータス</strong></label>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :is_deleted, :false, class:"form-check-input" %>
        <label class="form-check-label" for="inlineRadio1">有効</label>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :is_deleted, :true, class:"form-check-input" %>
        <label class="form-check-label" for="inlineRadio2">停止</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <%= f.submit '変更を保存', class:"btn btn-block btn-success col-2" %>
    </div>
  <% end %>
</div>