<h3>ユーザー詳細</h3>
<%= image_tag @user.get_image(250,250) %>

<p>名前　<%= @user.name %></p>
<p>自己紹介文　<%= @user.introduction %></p>
<p>コレクションしている物　<%= @user.my_collection %></p>
<p>ステータス　<%= @user.user_status %></p>

<%= link_to "ステータスの編集", edit_admin_user_path(@user.id) %>

<h3>投稿したもの一覧</h3>
<table class="table">
  <thead>
    <tr class="table-secondary">
      <th></th>
      <th>タイトル</th>
      <th>本文</th>
    </tr>
  </thead>
  <% @posts.each do |post| %>
    <tbody>
      <tr>
        <td><%= image_tag post.get_post_image(150,150) %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
      </tr>
    </tbody>
  <% end %>
</table>