<div class="container pt-3">
  <div class="row">
    <div class="col-lg-6">
      <h2>
        <i class="fa-solid fa-user"></i>
        ユーザー一覧ページ
      </h2>
    </div>

    <div class="col-lg-6 text-right">
      <%= form_with url: users_path, local: true, method: :get do |f| %>
        <%= f.text_field :word, placeholder:"ユーザー名" %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-lg-3 my-2">
        <div class="border rounded p-2 h-100">
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_image(300,300), class:"rounded-circle w-100 pb-3" %>
          <% end %>
          <h6><i class="fa-solid fa-user"></i> <%= user.name %></h6>
          <h6>集めている物 <%= user.my_collection %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>