<div class="container pt-3">
  <h3 class="pb-2"><i class="fa-solid fa-heart" style="color: #ff0000;"></i>いいね一覧</h3>

  <table class="table">
    <tbody>
      <% @like_posts.each do |post|%>
        <tr>
          <td class="col-lg-3">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.get_post_image(300,200), class:"w-100" %>
            <% end %>
          </td>
          <td class="col-lg-9">
            <h5><%= post.title %></h5>
            <h6><%= post.body %></h6>
            <p>
              <i class="fa-solid fa-user"></i> <%= post.user.name %>　|　<i class="fa-solid fa-heart" style="color: #ff0000;"></i> <%= post.likes.count %>　|　<i class="fa-solid fa-pen"></i> <%= post.comments.count %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>